# PyCharm
.idea/

# scikit-learn
doc/
doc/_build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
ci_scripts/
skltemplate/

# other
dev/
examples/paper/results

# jekyll
*.yml
.nojekyll

# Notes
*.ft

# odyssey
*.command

# directories
local/
.RData
.Rhistory

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# General
*.DS_Store

# C extensions
*.so

*.egg-info
temp_results
temp_results/*

# Distribution / packaging
.pytest_cache
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# PyBuilder
target/

#Ipython Notebooks
examples/.ipynb_checkpoints
